/* Palette */
/* 
    Ghost White: #F7F7FF
    Chinese Red: #A33E2C
    Jonquil: #F0C808
    Blue Sapphire: #086788
*/

/* Bumpers */
.margin-x { margin: 0 !important; }
.margin-top-1x { margin-top: 1em !important; }
.margin-top-2x { margin-top: 2em !important; }
.margin-bottom-1x { margin-bottom: 1em !important; }
.margin-right-1x { margin-right: 1em !important; }
.margin-left_25x { margin-left: 0.25em !important; }
.margin-left-1x { margin-left: 1em !important; }
.padding-2x { padding: 2em !important; }

/* Bootstrap Element Overrides */
.bg-primary { background-color: #F0C808 !important; color: #F7F7FF !important; }
.btn-primary { background-color: #F0C808 !important; border-color: #F0C808 !important; color: #F7F7FF !important; }
.text-primary { color: #F0C808 !important; }

/* Text */
body {
  background-color: #F0C808;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Spicy Rice', cursive;  
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Oswald', sans-serif;

  font-weight: 800;
}
a {
  color: #F7F7FF;
}
a:hover {
  color: #A33E2C;
  text-decoration: none;
}
.intro-heading-container {
  position: relative;
  padding-left: 40px;
}
.super-intro-heading {
  font-size: 80px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1;
}
.intro-heading {
  font-size: 250px;
  line-height: 0.8;
}
.intro-heading-top {
  color: #F0C808;
  position: absolute;
  z-index: 1;
  text-stroke: 3px #000;
  -webkit-text-stroke: 3px #000;
}
.intro-heading-bottom {
  text-shadow: 
    -2px 1px #A33E2C,
    -4px 2px #A33E2C,
    -6px 4px #A33E2C,
    -8px 5px #A33E2C,
    -10px 6px #A33E2C,
    -12px 7px #A33E2C,
    -14px 8px #000000,
    -16px 9px #F0C808,
    -18px 10px #F0C808,
    -20px 11px #F0C808,
    -22px 12px #F0C808,
    -24px 13px #F0C808,
    -28px 14px #F0C808,
    -30px 15px #000000,
    -32px 16px #086788,
    -34px 17px #086788,
    -36px 18px #086788,
    -38px 20px #086788,
    -40px 22px #086788,
    -42px 24px #086788,
    -44px 25px #000000
  ;
}

/* Nav */
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link { color: #000000; }
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover { color: #A33E2C; }

/* Flash Errors */
.flash {
  margin-bottom: 2em;
  padding: 2em;
  background: #A33E2C;
  border: 2px solid #000000;
  border-radius: 50px 10px;
  color: #F7F7FF;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  box-shadow: #086788 0.25px 8px 0;
}

/* Images */
.thumbnail { width: 75px; height: 75px; overflow: hidden; }
.thumbnail-image { width: 100%; }
.intro-image { max-width: 500px; }

/* Inputs */
.input-100 { width: 100%; }