/* Palette */

/* Ghost White: #F7F7FF */
/* Chinese Red: #A33E2C */
/* Jonquil: #F0C808 */
/* Blue Sapphire: #086788 */

/* Bumpers */
.margin-x { margin: 0 !important; }
.margin-top-1x { margin-top: 1em !important; }
.margin-top-2x { margin-top: 2em !important; }
.margin-bottom-1x { margin-bottom: 1em !important; }
.margin-right-1x { margin-right: 1em !important; }
.margin-left_25x { margin-left: 0.25em !important; }
.margin-left-1x { margin-left: 1em !important; }
.padding-2x { padding: 2em !important; }

/* Bootstrap Element Overrides */
.bg-primary { background-color: #F0C808 !important; color: #F7F7FF !important; }
.btn-primary { background-color: #F0C808 !important; border-color: #F0C808 !important; color: #F7F7FF !important; }
.text-primary { color: #F0C808 !important; }

/* Text */
body {
  background-color: #F0C808;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Shrikhand', cursive;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Assistant', sans-serif;
  font-weight: 800;
}
a {
  color: #F7F7FF;
}
a:hover {
  color: #A33E2C;
  text-decoration: none;
}

/* Nav */
.navbar-light .navbar-nav .nav-link { color: rgba(247, 247, 255, 0.85); }
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { color: rgba(247, 247, 255, 1); }


/* Flash Errors */
.flash {
  margin-bottom: 2em;
  padding: 2em;
  background: #F7F7FF;
  border-radius: 50px 10px;
  color: #A33E2C;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  box-shadow: #A33E2C 0.25px 8px 0;
}

/* Images */
.thumbnail { width: 75px; height: 75px; overflow: hidden; }
.thumbnail-image { width: 100%; }
.intro-image { max-width: 500px; }

/* Inputs */
.input-100 { width: 100%; }